body {
  background-color: #121215;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ebebeb;
}

body * {
  font-family: "Open Sans", sans-serif;
  box-sizing: inherit;
}

.page-title {
  color: #ebebeb;
  font-size: 4rem;
  text-align: center;
  margin: 2rem 0;
}

.page-title > .color {
  color: #457b9d;
}

.container {
  padding: 2rem 1rem;
  max-width: 50vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

input {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  background-color: #2f2d35;
  color: #f4f4f4;
  border: solid 1px #3e3b46;
  outline: none;
}

button {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #457b9d;
  color: #ebebeb;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover:not(.delete) {
  background-color: #346e8d;
}

ul {
  list-style-type: none;
  margin-top: 1rem;
  padding: 2rem;
  background-color: #18181c;
  max-height: 20rem;
  overflow-y: auto;
  border-radius: 0.5rem;
}

ul > .title {
  font-size: 1.25rem;
  color: #457b9d;
  margin-bottom: 1rem;
}

li {
  margin-top: 5px;
}

input[type="checkbox"] {
  cursor: pointer;
  width: 17px;
  height: 17px;
  border-radius: 50%;
}

#form > .action-row {
  margin-left: auto;
}

.todo-item {
  color: #cacbe1;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border: solid 1px #3e3b46;
  border-radius: 0.25rem;
  background-color: #2f2d35;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
}

.todo-item > .title-container {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.todo-item > .priority {
  color: #f4f4f4;
  font-size: 0.875rem;
  text-transform: capitalize;
}

.todo-item > .actions {
  display: flex;
  column-gap: 0.5rem;
  margin-top: 0.5rem;
}

.todo-item > .delete {
  border: none;
  background-color: transparent;
  color: #e63946;
  cursor: pointer;
  transition: color 0.3s ease;
}

.todo-item > .delete:hover {
  color: #ff4a5e;
}

.todo-item:hover {
  background-color: #3e3b46;
}

.delete {
  background-color: #e63946;
}

#completed-list > .todo-item {
  opacity: 0.5;
}

#completed-list .todo-item > .title {
  text-decoration: line-through;
  color: #9091a1;
}

#todo-input {
  height: 1.5rem;
}

.toggle-checkbox {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 14px;
  cursor: pointer;
  box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.58);
}

#active-list .toggle-checkbox {
  background-color: #ebebeb;
}

#active-list .toggle-checkbox i {
  display: none;
}

#completed-list .toggle-checkbox {
  background-color: #457b9d;
  color: #ebebeb;
}

#todo-item-template {
  display: none;
}

.mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title{
  padding-left: 0.5rem;
}

.priority-select{
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  background-color: #2f2d35;
  color: #f4f4f4;
  border: solid 1px #3e3b46;
  outline: none;
}

@media (max-width: 900px) {
  .todo-item {
    flex-direction: column;
  }
}


@media (max-width: 750px) {
  .container {
    max-width: 90vw;
    padding: 1rem;
  }

  .page-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 500px) {
  .page-title {
    font-size: 2rem;
  }

  button, input {
    padding: 0.5rem;
    font-size: 0.875rem;
  }

  .todo-item {
    padding: 0.75rem;
  }

  .todo-item > .title-container {
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
  }

  .todo-item > .actions {
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 0.5rem;
    margin-top: 0.5rem;
  }
}


